<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <div><a href="/auth/login/">login</a></div>
    <div><a href="/auth/register/">register</a></div>
    <div><a href="/auth/add-staff/">add staff</a></div>
    <div><a href="/auth/logout/">logout</a></div>
    <br>
    <hr>
    <div><a href="/view-halls/">view halls</a></div>
    <div><a href="/add-hall/">add hall</a></div>
    <div><a href="/remove-hall/">remove hall</a></div>
</body>
</html>